* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #23232356;
  --text-color: white;
  --main-color: #ffd700;
  --gradient-color: linear-gradient(270deg, #ffd700 10%, #be8b35 100%);
}
html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon {
  color: var(--main-color);
  display: none;
  font-size: 3, 5rem;
}
.logo {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(270deg, #ffd700 10%, #be8b35 100%);
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #ffd700 10%, #be8b35 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}
.gradient-btn:hover {
  transform: scale(1.05);
}
section {
  min-height: 100vh;
  padding: 5rem 10%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
}
.home-content h1 {
  font-size: 8rem;
  font-weight: 800;
  margin-top: 2rem;
  line-height: 1;
  color: white;
}
.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
  color: white;
}
.home-content p {
  font-size: 2rem;
  line-height: 1.8;
  color: white;
}
.home-img img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 20px var(--main-color),
    0 0 20px var(--main-color);
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}
.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080808;
  line-height: 0;
  font-size: 1.6rem;
}
.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
}
.about {
  display: flex;
  align-items: center;
  background-color: var(--second-bg-color);
  justify-content: center;
  gap: 10rem;
}
.about-img img {
  width: 40vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 20px var(--main-color),
    0 0 20px var(--main-color);
}
.about-content {
  display: flex;
  flex-direction: column;
}
.about-content h1 {
  margin: 1rem 0;
  font-weight: 800;
  font-size: 6rem;
  color: white;
}
.about-content .why-text {
  font-size: 1.5rem;
  color: white;
  max-width: 620px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  word-spacing: 0.12em;
  font-size: 16px;
  color: var(--text-color);
  margin-top: 20px;
}
.btn-2 {
  margin: 3rem 0;
  width: fit-content;
  padding: 5px 20px;
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  border-radius: 2rem;
  font-size: 1.8rem;
  color: #080808;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn-2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color) 0 0 50px var(--main-color);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem;
  color: var(--text-color);
}
.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
  background-color: var(--bg-color);
}

.services-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
  align-items: center;
  gap: 15rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.pricing-card {
  background-color: var(--main-color);
  border-radius: 3rem;
  padding: 5rem;
  width: 300px;
  gap: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 5px solid transparent;
}
.pricing-card:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}
.pricing-card h3 {
  color: var(--gradient-color);
  font-size: 4rem;
  margin-bottom: rem;
}

.pricing-card .price {
  font-size: 3rem;
  font-weight: bold;
}

.pricing-card .price span {
  font-size: 1.8rem;
  color: black;
}

.pricing-btn {
  margin: 3rem 0;
  width: fit-content;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.pricing-btn:hover {
  border: 10px solid var(--main-color);
  transform: scale(1.03);
  color: var(--main-color);
  cursor: pointer;
}
.pricing-card ul {
  font-size: 2rem;
  list-style: none;
}
.pricing-card li {
  margin-top: 25px;
  font-weight: 800;
  font-size: 1.8rem;
}
.pricing-card li.disabled {
  color: #444;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.transformations {
  background-color: var(--second-bg-color);
}
.transformations h2 {
  margin-top: 15rem;
}
.transformations-box {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}
.transformation-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
  min-height: 700px;
}
.transformation-card:hover {
  box-shadow: 0 0 25px var(--main-color) 0 0 50px var(--main-color);
  transform: scale(1.02);
}
.transformation-card img {
  width: 100%;
  height: 700px;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
  display: block;
}
.transformation-card h3 {
  font-size: 3rem;
  color: var(--text-color);
}
.transformation-card p {
  font-size: 1.6rem;
  color: var(--text-color);
}
.contact {
  background-color: var(--bg-color);
}
.contact h2 {
  margin-top: 15rem;
  margin-bottom: 3rem;
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1, 8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}
.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5rem;
  gap: 5rem;
  font-size: 2rem;
}
.footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer p {
  color: var(--text-color);
  display: flex;
  justify-content: center;
}
.form-success {
  display: none;
  margin-top: 20px;
  color: #ffd700;
  font-size: 16px;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*PHONE VERSION */

@media (max-width: 1285px) {
  #menu-icon {
    display: block;
    font-size: 6rem;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar a {
    display: block;
    font-size: 4rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active {
    display: block;
  }
  .gradient-btn {
    display: none;
  }
  .home {
    flex-direction: column-reverse;
    margin-top: 35rem;
    min-height: auto;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-content h1 {
    font-size: 10rem;
    font-weight: 800;
    margin-top: 2rem;
    line-height: 1;
    color: white;
  }
  .home-content h3 {
    margin: 1rem 0;
    font-size: 6rem;
    color: white;
  }
  .home-content p {
    font-size: 3rem;
    line-height: 1.8;
    color: white;
  }

  .home-img img {
    width: 66vw;
    height: 66vw;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }
  .social-icons a {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 2.6rem;
  }
  .social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 0 15px var(--main-color);
  }
  .about {
    flex-direction: column;
    min-height: auto;
    margin-top: 10rem;
    padding: 5rem 5rem;
  }
  .about-content {
    align-items: center;
  }
  .about-content h1 {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 7rem;
    color: white;
  }
  .about-content p {
    font-size: 4rem;
    color: white;
  }
  .btn-2 {
    margin: 4rem 0;
    width: fit-content;
    padding: 25px 80px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 2rem;
    font-size: 3rem;
    color: #080808;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }
  .btn-2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color) 0 0 50px var(--main-color);
    cursor: pointer;
  }
  .about-img img {
    margin-top: 10rem;
    width: 66vw;
    height: 30vw;
  }
  .services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10rem 3rem;
    text-align: center;
    background-color: var(--bg-color);
  }
  .services-container {
    display: flex;
    align-items: center;
    gap: 15rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .pricing-card {
    background-color: var(--main-color);
    border-radius: 3rem;
    padding: 10rem 15rem;
    width: 700px;
    gap: 30px;
    height: 1100px;
  }
  .pricing-card h3 {
    color: var(--gradient-color);
    font-size: 10rem;
  }

  .pricing-card .price {
    font-size: 7rem;
    font-weight: bold;
  }

  .pricing-card .price span {
    font-size: 4rem;
    color: black;
  }

  .pricing-btn {
    margin: 6rem 0;
    width: fit-content;
    padding: 20px;
    font-size: 4rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .pricing-btn:hover {
    border: 10px solid var(--main-color);
    transform: scale(1.03);
    color: var(--main-color);
    cursor: pointer;
  }
  .pricing-card ul {
    font-size: 5rem;
    list-style: none;
    gap: 15px;
  }
  .pricing-card li {
    margin-top: 25px;
    font-weight: 800;
    font-size: 5rem;
  }
  .pricing-card li.disabled {
    color: #444;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
  .transformations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .transformations-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
  .transformation-card {
    height: 1500px;
    width: 700px;
  }
  .transformation-card img {
    margin-top: -50px;
    height: 1000px;
    width: 100%;
    object-fit: cover;
  }
  .transformation-card h3 {
    font-size: 6rem;
  }
  .transformation-card p {
    margin-top: 30px;
    font-size: 4rem;
  }
  .contact h2 {
    margin-top: 15rem;
    margin-bottom: 3rem;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
  }
  .contact form .input-box input,
  .contact form textarea {
    width: 700px;
    padding: 2rem;
    font-size: 4.5rem;
    margin: 2rem 5rem;
    resize: none;
  }
  .footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
    margin-top: -330px;
  }
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 5rem;
    gap: 5rem;
    font-size: 3rem;
  }
  .footer ul li a {
    font-size: 3rem;
  }

  .footer p {
    font-size: 2rem;
  }
}
